.slide-welcome{
    background-image: url('../../../img/welcome/arcticmountains.png');
    background-size: cover;
    background-repeat: repeat-x;
    height: 100vh;
}

.slide-welcome h1{
    margin: 0;
    padding: 10px 0px 10px 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.04);
}

.block{
    position: absolute;
    bottom: 40vh;
    left: 40vw;
}

.ice{
    position: absolute;
    bottom: 24vh;
    right: 0vw; 
}

.coin1{
    position: absolute;
    bottom: 30vh;
    left: 46vw;
}

.coin2{
    position: absolute;
    bottom: 30vh;
    left: 41vw;
}

.tux-running{
    position: absolute;
    bottom: 25vh;
    left: 30vw
}

.jumpy{
    position: absolute;
    bottom: 40vh;
    right: 30vw; 
}

.snowball{
    position: absolute;
    bottom: 25vh;
    right: 40vw;
}

.ground-snow{
    position: absolute;
    bottom: 0vh;
    height: 30vh;
    width: 81vw;
    background-image: url('../../../img/welcome/ground.png');
    background-repeat: repeat-x;
}

