header{
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0.001), 
    rgba(0, 0, 0, 0.4)), 
    url("../../img/Header.PNG");
    background-position: center;
    background-position-y: bottom;
    grid-column: 1/2;
    grid-row: 1/2;

}

header a img{
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
    max-width: 90%;
    transition: 0.2s;
}

header a img:hover{
    max-height: 88%;
    max-width: 88%;
}