nav{
    display: grid;
    background-color: #cccccc;
    background-image: linear-gradient(to left, 
    rgba(0, 0, 0, 0.001), 
    rgba(0, 0, 0, 0.4)), 
    url("../../img/nav1.PNG");
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;

    grid-row: 2/3;
    grid-column: 1/2;
}

.navbar{
    font-size: 15pt;
    width: 1fr;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar li{
    margin: 4px 0 4px 0;
    font-size: 17pt;
    padding: 3px 10px 3px 20px;
    border-radius: 2px;
    border-left: solid 3px snow;
    transition: 0.40s;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar li.donate{
    border-left: solid 3px gold;
}


.navbar li:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border-left: solid 10px snow;
}

.navbar li.donate:hover{
    border-left: solid 10px gold;
}


