nav{
    display: grid;
    background-image: url("../../img/nav1.PNG");
    background-color: #cccccc;
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    grid-column: 1/2;
    grid-row: 2/3;

    border-right: solid 6px rgba(0, 0, 0, 0.1);
}

.navbar{
    font-size: 15pt;
    padding: 0;
    margin: 5px;
    list-style-type: none;
}

.navbar li{
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 10px;
}

.navbar li a{
    border: none;
    border-left: solid 3px white;
    padding: 0px 50px 2px 7px;
    text-decoration: none;
    color: white;
    transition: 0.10s;
}

.navbar li a.donate{
    border-left: solid 3px gold;
}

.navbar li a:hover{
    border-left: solid 10px white;
}

.navbar li a.donate:hover{
    border-left: solid 10px gold;
}

.items{
    grid-row: 1/2;
    align-self: center;
}

.ext{
    grid-row: 2/3;
    align-self: center;
}

