footer{
    display: grid;
    background-image: linear-gradient(to left, 
    rgba(0, 0, 0, 0.001), 
    rgba(0, 0, 0, 0.4)), 
    url("../../img/nav2.PNG");
    background-color: #cccccc;
    background-position: start;
    background-repeat: no-repeat;

    grid-column: 1/2;
    grid-row: 3/4;

    color: #023240;
    font-size: 11pt;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    font-size: 13pt;
}


footer div.footer-container{
    justify-self: center;
    align-self: center;
}

.icon{
    filter: blur(1px);
    opacity: 0.5;
    padding: 8px;
    height: 40px;
    width: 40px;
    transition: 0.3s;
}

.icon:hover{
    height: 43px;
    width: 43px;
    transform: rotate(3deg);
    filter: blur(0px);
    opacity: 1;
}