footer{
    display: grid;
    background-image: url("../../img/nav2.PNG");
    background-color: #cccccc;
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 1/2;
    grid-row: 3/4;

    color: #023240;
    font-size: 11pt;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    font-size: 13pt;
    border-right: solid 6px rgba(0, 0, 0, 0.1);
}

footer a{
    text-decoration: none;
    color: #021C40;
    font-weight: 600;
    transition: 0.5s;
}

footer a:hover{
    opacity: 0.8;
}

footer div.footer-container{
    justify-self: center;
    align-self: center;
}