@font-face{
  font-family: supertux;
  src: url(SuperTux-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: supertux;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
